# Outputs and data
outputs/
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Environment variables
.env
*.env

# Pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log
